{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div class="container p-5">

	<div class="card">
		<div class="card-body">

			<form method="POST" action="{% url 'account_logout' %}">
				<p class="text-center mb-3">Are you sure you want to sign out?</p>
				{% csrf_token %}

				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}

				<div class="text-center">
					<input type="submit" name="send" value="Log Out" class="btn btn-primary">
				</div>

				<div class="text-center mt-3">
					<a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary">Go Back!</a>
				</div>

			</form>
		</div>
	</div>

</div>

{% endblock content %}