{% extends 'base/base.html' %}
{% load static %}
	
{% block content %}

<div class="container">

	<div class="row justify-content-center">

		<div class="col-xl-10 col-lg-12 col-md-9">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					
					<div class="row">
						<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Register</h1>
								</div>
								<form class="user" method="POST" action="{% url 'account_signup' %}">

									{% csrf_token %}

									{% if form.errors %}
										{% for error in form.non_field_errors %}
										<div class="alert alert-danger alert-dismissable fade show" role="alert">
											{{ error|escape }}
											<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
										</div>
										{% endfor %}
										{% for field in form %}
											{% for error in field.errors %}
											<div class="alert alert-danger alert-dismissable fade show" role="alert">
												{{ error|escape }}
												<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
											</div>
											{% endfor %}
										{% endfor %}
									{% endif %}
									
									{% for field in form %}
										<div class="form-group">
											{{ field }}
										</div>
									{% endfor %}
									
									<input type="submit" name="send" value="Register" class="btn btn-primary btn-user btn-block">
									
								</form>
								<hr>
								<div class="text-center">
									<a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
								</div>
								<div class="text-center">
									<a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
								</div>

								<div class="text-center pt-3">
									<a href="{% url 'home:landing-page' %}" class="btn btn-sm btn-secondary">Back to homepage</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock content %}